{% set title = "contacts" %}
{% extends "layout/base.html" %}
 
{% block content -%}
    <table class="table table-bordered table-hover">
        <tr>
            <th>NO</th>
            <th>아이디</th>
            <th>가입일</th>
            <th>삭제</th>
        </tr>
        {% for mem in member %}
        <tr>
            <td>
                {{mem.idx}}
            </td>
            <td>
                <a href="/contacts/detail/{{ mem.idx }}">
                    {{mem.id}}
                </a>
            </td>
            <td>
                {{mem.createdAt}}
            </td>
            <td>
                <a href="/contacts/delete/{{ mem.idx }}" class="btn btn-danger" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/contacts/list/join" class="btn btn-default">가입하기</a>

{% endblock %}